.cuadrado{
    display: grid;
    height: 700px;
    grid-template-columns: 5% auto auto auto;
    grid-template-rows: 40px 40px 40px 40px 40px;
    align-content: center;

}
.cuadrado div{
    text-align: center;
    color:black;
    border : 1px solid black;
    margin: 2px;

}

.uno{
    grid-column: 1 / 4;
    background-color: lightpink;
}
.dos{
    grid-column: 4 / 7 ;
    grid-row: 1 / 3 ;
    background-color: lightskyblue;
}
.tres{
    grid-column: 7 / 10;
    background-color: mediumaquamarine;
}
.cuatro{
    grid-column: 1/2;

    background-color: lightyellow;
}
.cinco{
    grid-column: 2 / 4;
    grid-row: 2 / 4 ;
    background-color: mediumpurple;
}
.seis{
    grid-column: 7 / 10;
    grid-row: 2 / 4;
    background-color: orchid;
}
.siete{
    grid-column: 1 / 2;
    background-color: silver;
}
.ocho{
    grid-column: 4 / 7;
    background-color: gold;
}  
